@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body *{
    margin: 0;
    padding: 0;
}

#contener{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: rgb(33, 33, 34);
}

#gradient{
    position: absolute;
    top: -150;
    left: -150;
    width: 300vw;
    height: 300vh;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 255), white);
    /* background-image: conic-gradient(blue, white); */
    animation: gradient 5s linear infinite;
    z-index: -1;
}

@keyframes gradient{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#buttonContainer{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}
